.imgs{
     border-radius: 40px 1px 40px 1px;
     border: 7px double black 
}
iframe{
     border-radius: 40px 1px 40px 1px;
     border: 7px double black 
}
span{
     visibility: hidden;
}
a{
     color: black
}
div{
     font-size: x-large;
}
