
h1{
    text-align:center;
    font-size: xx-large;
}
.heading1{
    font-family: "Exo 2", sans-serif;
  font-optical-sizing:auto;
  font-weight: 750;
  font-style: normal;
  font-size: xx-large;
  color: cadetblue;
  text-shadow: 5px 5px 5px 5px red;
}
.heading1{
    text-decoration:underline;
}
.ANCHOR MAIN{
    text-align: center;
}
span{
    visibility:hidden;
}
.ANCHOR MAIN{
    text-decoration: line-through;
}
.div1{
    background-color: aqua;
    height: 50px;
    position:static;
}
p{
    position: relative;
    top: 15px;
    left: 20px;
    text-decoration: underline;

}
img{
   position: relative;
   left: 100px;
}
h2{
    display: inline;
}
div{
    background-color: aqua;
    height: 50px;
    position:static;
}
.ball{
    position: relative;
   left: 120px;
}
.cat{
    position: relative;
    left: 120px;
}
a{
    color:darkslategray ;
   cursor: crosshair;
}
body{
    background-color:lemonchiffon;
}

.Top:link{
    color:darkcyan; 
    position:absolute;
    top: 30px;
    left: 15px;
}
.Top:visited{
    color: blueviolet;
}
.Top:hover{
    color: chartreuse;
}
.Top:active{
    color: red;
}
a:link{
    color:darkcyan;
}
a:visited{
    color: blueviolet;
}
a:hover{
    color: chartreuse;
}
a:active{
       color: red;
}
  div{
    text-decoration: solid;
    font-size: x-large;
   font-family: serif;
   color: darkslategrey;
    
  }
  h2{
    font-family: cursive;
    font-size: x-large;
  }
  .divtop{
    position: fixed;
    top: 90%;
    left: 90%;
    right: 70%;
    padding: 10px;
    margin: 0%;
    width: 20%;
    border-radius: 50px  50px;
    border-color: black;
    background-color:khaki;
  }
  .Top:link{
    color:black;
  }
  .Top:hover{
    color:chartreuse;
  }
  .Top:active{
    color: red;
  }
  h1{
    text-align: center;
  }
  .Top{
   text-decoration-color: chartreuse;
   color: black;
  }
.parent{
    height: 60px;
    width: 100%;
    background-color: coral;
    position:absolute;
    top: 0px;
}
